Install the libraries

In [1]:
pip install pandas sqlalchemy psycopg2-binary dotenv

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.11/site-packages (2.0.22)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.10)
Requirement already satisfied: dotenv in /opt/conda/lib/python3.11/site-packages (0.9.9)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.11/site-packages (from sqlalchemy) (3.0.0)
Requirement already satisfied: python-dotenv in /opt/conda/lib/python3.11/site-packages (from dotenv) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
pd.set_option("display.max_colwidth", 150)
pd.set_option("display.min_rows", 20)

from sqlalchemy import create_engine
from datetime import datetime, timedelta
import time

from dotenv import load_dotenv
import os
load_dotenv()
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")
POSTGRES_HOST = os.getenv("POSTGRES_HOST")
POSTGRES_PORT = os.getenv("POSTGRES_PORT")
POSTGRES_DB = os.getenv("POSTGRES_DB")

Gets the data

In [3]:
def get_titulos_tesouro_direto():
    url = 'https://www.tesourotransparente.gov.br/ckan/dataset/df56aa42-484a-4a59-8184-7676580c81e3/resource/796d2059-14e9-44e3-80c9-2d9e30b405c1/download/PrecoTaxaTesouroDireto.csv'
    df = pd.read_csv(url, sep=';', decimal=',')
    df['Data_Vencimento'] = pd.to_datetime(df['Data Vencimento'], dayfirst=True)
    df['Data_Base'] = pd.to_datetime(df['Data Base'], dayfirst=True)
    multi_indice = pd.MultiIndex.from_frame(df.iloc[:,:3])
    df = df.set_index(multi_indice).iloc[:, 3:]
    return df

Loads the df

In [4]:
titles = get_titulos_tesouro_direto()

In [5]:
titles

                                                                   Taxa Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado                      01/07/2007      30/08/2006              14.22
                                       01/04/2007      30/08/2006              14.22
                                       01/01/2009      30/08/2006              14.48
                                       01/10/2006      30/08/2006              14.42
                                       01/01/2007      30/08/2006              14.26
Tesouro IPCA+ com Juros Semestrais     15/08/2008      30/08/2006               9.64
                                       15/05/2007      30/08/2006               9.40
                                       15/05/2009      30/08/2006               9.77
                                       15/05/2045      30/08/2006               8.08
                                       15/05/2035      30/08/2006               8.12
...                                                                              ...
Tesouro IGPM+ com Juros Semestrais     01/01/2031      20/01/2005               8.25
                                       01/04/2021      20/01/2005               8.26
                                       01/07/2017      20/01/2005               8.26
                                       01/03/2011      20/01/2005               8.39
                                       01/12/2005      20/01/2005              10.22
                                       01/12/2006      20/01/2005               9.48
                                       01/04/2008      20/01/2005               9.08
                                       01/07/2005      20/01/2005              11.03
Tesouro Prefixado com Juros Semestrais 01/01/2008      20/01/2005              17.78
Tesouro Selic                          16/02/2005      19/01/2005               0.01

                                                                   Taxa Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado                      01/07/2007      30/08/2006             14.26
                                       01/04/2007      30/08/2006             14.26
                                       01/01/2009      30/08/2006             14.54
                                       01/10/2006      30/08/2006             14.45
                                       01/01/2007      30/08/2006             14.29
Tesouro IPCA+ com Juros Semestrais     15/08/2008      30/08/2006              9.66
                                       15/05/2007      30/08/2006              9.42
                                       15/05/2009      30/08/2006              9.81
                                       15/05/2045      30/08/2006              8.18
                                       15/05/2035      30/08/2006              8.22
...                                                                             ...
Tesouro IGPM+ com Juros Semestrais     01/01/2031      20/01/2005              8.35
                                       01/04/2021      20/01/2005              8.34
                                       01/07/2017      20/01/2005              8.34
                                       01/03/2011      20/01/2005              8.45
                                       01/12/2005      20/01/2005             10.24
                                       01/12/2006      20/01/2005              9.50
                                       01/04/2008      20/01/2005              9.12
                                       01/07/2005      20/01/2005             11.05
Tesouro Prefixado com Juros Semestrais 01/01/2008      20/01/2005             17.88
Tesouro Selic                          16/02/2005      19/01/2005              0.03

                                                                   PU Compra Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado                      01/07/2007      30/08/2006           897.01
                                       01/04/2007      30/08/2006           926.83
                                       01/01/2009      30/08/2006           730.18
                                       01/10/2006      30/08/2006           988.83
                                       01/01/2007      30/08/2006           957.54
Tesouro IPCA+ com Juros Semestrais     15/08/2008      30/08/2006          1507.72
                                       15/05/2007      30/08/2006          1594.32
                                       15/05/2009      30/08/2006          1494.09
                                       15/05/2045      30/08/2006          1245.92
                                       15/05/2035      30/08/2006          1263.84
...                                                                            ...
Tesouro IGPM+ com Juros Semestrais     01/01/2031      20/01/2005          2526.10
                                       01/04/2021      20/01/2005          1493.07
                                       01/07/2017      20/01/2005          1512.63
                                       01/03/2011      20/01/2005          1656.15
                                       01/12/2005      20/01/2005          1765.32
                                       01/12/2006      20/01/2005          1808.11
                                       01/04/2008      20/01/2005          1698.44
                                       01/07/2005      20/01/2005          1778.85
Tesouro Prefixado com Juros Semestrais 01/01/2008      20/01/2005           844.65
Tesouro Selic                          16/02/2005      19/01/2005          2181.08

                                                                   PU Venda Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado                      01/07/2007      30/08/2006          896.75
                                       01/04/2007      30/08/2006          926.65
                                       01/01/2009      30/08/2006          729.29
                                       01/10/2006      30/08/2006          988.81
                                       01/01/2007      30/08/2006          957.46
Tesouro IPCA+ com Juros Semestrais     15/08/2008      30/08/2006         1507.21
                                       15/05/2007      30/08/2006         1594.12
                                       15/05/2009      30/08/2006         1492.75
                                       15/05/2045      30/08/2006         1231.55
                                       15/05/2035      30/08/2006         1249.97
...                                                                           ...
Tesouro IGPM+ com Juros Semestrais     01/01/2031      20/01/2005         2501.69
                                       01/04/2021      20/01/2005         1482.43
                                       01/07/2017      20/01/2005         1503.14
                                       01/03/2011      20/01/2005         1651.57
                                       01/12/2005      20/01/2005         1765.05
                                       01/12/2006      20/01/2005         1807.53
                                       01/04/2008      20/01/2005         1696.66
                                       01/07/2005      20/01/2005         1778.71
Tesouro Prefixado com Juros Semestrais 01/01/2008      20/01/2005          842.82
Tesouro Selic                          16/02/2005      19/01/2005         2181.05

                                                                   PU Base Manha  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado                      01/07/2007      30/08/2006         896.28
                                       01/04/2007      30/08/2006         926.16
                                       01/01/2009      30/08/2006         728.89
                                       01/10/2006      30/08/2006         988.28
                                       01/01/2007      30/08/2006         956.96
Tesouro IPCA+ com Juros Semestrais     15/08/2008      30/08/2006        1506.56
                                       15/05/2007      30/08/2006        1593.45
                                       15/05/2009      30/08/2006        1492.10
                                       15/05/2045      30/08/2006        1231.08
                                       15/05/2035      30/08/2006        1249.50
...                                                                          ...
Tesouro IGPM+ com Juros Semestrais     01/01/2031      20/01/2005        2500.41
                                       01/04/2021      20/01/2005        1481.67
                                       01/07/2017      20/01/2005        1502.37
                                       01/03/2011      20/01/2005        1650.72
                                       01/12/2005      20/01/2005        1764.02
                                       01/12/2006      20/01/2005        1806.52
                                       01/04/2008      20/01/2005        1695.74
                                       01/07/2005      20/01/2005        1777.62
Tesouro Prefixado com Juros Semestrais 01/01/2008      20/01/2005         842.27
Tesouro Selic                          16/02/2005      19/01/2005        2179.63

                                                                  Data_Vencimento  \
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado                      01/07/2007      30/08/2006      2007-07-01
                                       01/04/2007      30/08/2006      2007-04-01
                                       01/01/2009      30/08/2006      2009-01-01
                                       01/10/2006      30/08/2006      2006-10-01
                                       01/01/2007      30/08/2006      2007-01-01
Tesouro IPCA+ com Juros Semestrais     15/08/2008      30/08/2006      2008-08-15
                                       15/05/2007      30/08/2006      2007-05-15
                                       15/05/2009      30/08/2006      2009-05-15
                                       15/05/2045      30/08/2006      2045-05-15
                                       15/05/2035      30/08/2006      2035-05-15
...                                                                           ...
Tesouro IGPM+ com Juros Semestrais     01/01/2031      20/01/2005      2031-01-01
                                       01/04/2021      20/01/2005      2021-04-01
                                       01/07/2017      20/01/2005      2017-07-01
                                       01/03/2011      20/01/2005      2011-03-01
                                       01/12/2005      20/01/2005      2005-12-01
                                       01/12/2006      20/01/2005      2006-12-01
                                       01/04/2008      20/01/2005      2008-04-01
                                       01/07/2005      20/01/2005      2005-07-01
Tesouro Prefixado com Juros Semestrais 01/01/2008      20/01/2005      2008-01-01
Tesouro Selic                          16/02/2005      19/01/2005      2005-02-16

                                                                   Data_Base
Tipo Titulo                            Data Vencimento Data Base
Tesouro Prefixado                      01/07/2007      30/08/2006 2006-08-30
                                       01/04/2007      30/08/2006 2006-08-30
                                       01/01/2009      30/08/2006 2006-08-30
                                       01/10/2006      30/08/2006 2006-08-30
                                       01/01/2007      30/08/2006 2006-08-30
Tesouro IPCA+ com Juros Semestrais     15/08/2008      30/08/2006 2006-08-30
                                       15/05/2007      30/08/2006 2006-08-30
                                       15/05/2009      30/08/2006 2006-08-30
                                       15/05/2045      30/08/2006 2006-08-30
                                       15/05/2035      30/08/2006 2006-08-30
...                                                                      ...
Tesouro IGPM+ com Juros Semestrais     01/01/2031      20/01/2005 2005-01-20
                                       01/04/2021      20/01/2005 2005-01-20
                                       01/07/2017      20/01/2005 2005-01-20
                                       01/03/2011      20/01/2005 2005-01-20
                                       01/12/2005      20/01/2005 2005-01-20
                                       01/12/2006      20/01/2005 2005-01-20
                                       01/04/2008      20/01/2005 2005-01-20
                                       01/07/2005      20/01/2005 2005-01-20
Tesouro Prefixado com Juros Semestrais 01/01/2008      20/01/2005 2005-01-20
Tesouro Selic                          16/02/2005      19/01/2005 2005-01-19

[156753 rows x 7 columns]

Gets the Prefixados

In [6]:
prefixado = titles.loc[('Tesouro Prefixado')].copy()
prefixado['Tipo'] = "PRE-FIXADOS"

In [7]:
prefixado

,,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha,Data_Vencimento,Data_Base,Tipo
Data Vencimento,Data Base,,,,,,,,
01/07/2007,30/08/2006,14.22,14.26,897.01,896.75,896.28,2007-07-01,2006-08-30,PRE-FIXADOS
01/04/2007,30/08/2006,14.22,14.26,926.83,926.65,926.16,2007-04-01,2006-08-30,PRE-FIXADOS
01/01/2009,30/08/2006,14.48,14.54,730.18,729.29,728.89,2009-01-01,2006-08-30,PRE-FIXADOS
01/10/2006,30/08/2006,14.42,14.45,988.83,988.81,988.28,2006-10-01,2006-08-30,PRE-FIXADOS
01/01/2007,30/08/2006,14.26,14.29,957.54,957.46,956.96,2007-01-01,2006-08-30,PRE-FIXADOS
01/01/2008,29/08/2006,14.36,14.40,837.51,837.13,836.68,2008-01-01,2006-08-29,PRE-FIXADOS
01/04/2008,29/08/2006,14.39,14.44,810.42,809.86,809.43,2008-04-01,2006-08-29,PRE-FIXADOS
01/07/2008,29/08/2006,14.44,14.49,783.43,782.81,782.39,2008-07-01,2006-08-29,PRE-FIXADOS
01/10/2007,29/08/2006,14.33,14.37,865.87,865.54,865.08,2007-10-01,2006-08-29,PRE-FIXADOS
01/07/2007,29/08/2006,14.27,14.31,896.21,895.95,895.48,2007-07-01,2006-08-29,PRE-FIXADOS
...,...,...,...,...,...,...,...,...,...
01/04/2005,21/01/2005,18.74,18.78,969.13,969.07,968.41,2005-04-01,2005-01-21,PRE-FIXADOS
01/07/2005,21/01/2005,19.07,19.11,927.28,927.14,926.50,2005-07-01,2005-01-21,PRE-FIXADOS
01/10/2005,21/01/2005,19.06,19.12,886.51,886.20,885.59,2005-10-01,2005-01-21,PRE-FIXADOS
01/01/2006,21/01/2005,18.85,18.91,850.67,850.27,849.68,2006-01-01,2005-01-21,PRE-FIXADOS
01/07/2006,21/01/2005,18.51,18.59,784.57,783.82,783.29,2006-07-01,2005-01-21,PRE-FIXADOS
01/07/2005,20/01/2005,18.90,18.94,927.21,927.08,926.44,2005-07-01,2005-01-20,PRE-FIXADOS
01/04/2005,20/01/2005,18.66,18.70,968.59,968.53,967.87,2005-04-01,2005-01-20,PRE-FIXADOS
01/10/2005,20/01/2005,18.88,18.94,886.83,886.52,885.91,2005-10-01,2005-01-20,PRE-FIXADOS
01/07/2006,20/01/2005,18.25,18.33,786.51,785.75,785.23,2006-07-01,2005-01-20,PRE-FIXADOS
01/01/2006,20/01/2005,18.65,18.71,851.43,851.03,850.45,2006-01-01,2005-01-20,PRE-FIXADOS

In [8]:
for i, row in prefixado.iterrows():
    ifor_val = datetime.now() - timedelta(hours=1, minutes=0)
    prefixado.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

In [9]:
prefixado

,,Taxa Compra Manha,Taxa Venda Manha,PU Compra Manha,PU Venda Manha,PU Base Manha,Data_Vencimento,Data_Base,Tipo,dt_update
Data Vencimento,Data Base,,,,,,,,,
01/07/2007,30/08/2006,14.22,14.26,897.01,896.75,896.28,2007-07-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.634472
01/04/2007,30/08/2006,14.22,14.26,926.83,926.65,926.16,2007-04-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.637382
01/01/2009,30/08/2006,14.48,14.54,730.18,729.29,728.89,2009-01-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.637949
01/10/2006,30/08/2006,14.42,14.45,988.83,988.81,988.28,2006-10-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.638519
01/01/2007,30/08/2006,14.26,14.29,957.54,957.46,956.96,2007-01-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.639170
01/01/2008,29/08/2006,14.36,14.40,837.51,837.13,836.68,2008-01-01,2006-08-29,PRE-FIXADOS,2025-05-22 13:07:19.639932
01/04/2008,29/08/2006,14.39,14.44,810.42,809.86,809.43,2008-04-01,2006-08-29,PRE-FIXADOS,2025-05-22 13:07:19.640675
01/07/2008,29/08/2006,14.44,14.49,783.43,782.81,782.39,2008-07-01,2006-08-29,PRE-FIXADOS,2025-05-22 13:07:19.641493
01/10/2007,29/08/2006,14.33,14.37,865.87,865.54,865.08,2007-10-01,2006-08-29,PRE-FIXADOS,2025-05-22 13:07:19.642301
01/07/2007,29/08/2006,14.27,14.31,896.21,895.95,895.48,2007-07-01,2006-08-29,PRE-FIXADOS,2025-05-22 13:07:19.642977
...,...,...,...,...,...,...,...,...,...,...
01/04/2005,21/01/2005,18.74,18.78,969.13,969.07,968.41,2005-04-01,2005-01-21,PRE-FIXADOS,2025-05-22 13:07:29.749034
01/07/2005,21/01/2005,19.07,19.11,927.28,927.14,926.50,2005-07-01,2005-01-21,PRE-FIXADOS,2025-05-22 13:07:29.749413
01/10/2005,21/01/2005,19.06,19.12,886.51,886.20,885.59,2005-10-01,2005-01-21,PRE-FIXADOS,2025-05-22 13:07:29.749809
01/01/2006,21/01/2005,18.85,18.91,850.67,850.27,849.68,2006-01-01,2005-01-21,PRE-FIXADOS,2025-05-22 13:07:29.750215
01/07/2006,21/01/2005,18.51,18.59,784.57,783.82,783.29,2006-07-01,2005-01-21,PRE-FIXADOS,2025-05-22 13:07:29.750597
01/07/2005,20/01/2005,18.90,18.94,927.21,927.08,926.44,2005-07-01,2005-01-20,PRE-FIXADOS,2025-05-22 13:07:29.750997
01/04/2005,20/01/2005,18.66,18.70,968.59,968.53,967.87,2005-04-01,2005-01-20,PRE-FIXADOS,2025-05-22 13:07:29.751412
01/10/2005,20/01/2005,18.88,18.94,886.83,886.52,885.91,2005-10-01,2005-01-20,PRE-FIXADOS,2025-05-22 13:07:29.751797
01/07/2006,20/01/2005,18.25,18.33,786.51,785.75,785.23,2006-07-01,2005-01-20,PRE-FIXADOS,2025-05-22 13:07:29.752193
01/01/2006,20/01/2005,18.65,18.71,851.43,851.03,850.45,2006-01-01,2005-01-20,PRE-FIXADOS,2025-05-22 13:07:29.752587

Get the IPCAs

In [10]:
ipca = titles.loc[('Tesouro IPCA+')].copy()
ipca['Tipo'] = "IPCA"

In [11]:
for i, row in ipca.iterrows():
    ifor_val = datetime.now() - timedelta(hours=1, minutes=0)
    ipca.at[i,'dt_update'] = ifor_val
    time.sleep(1/10000)

In [12]:
ipca

                            Taxa Compra Manha  Taxa Venda Manha  \
Data Vencimento Data Base
15/05/2015      30/08/2006               9.03              9.09
15/08/2024      30/08/2006               7.90              7.98
15/05/2015      29/08/2006               9.02              9.08
15/08/2024      29/08/2006               7.87              7.95
15/05/2015      23/08/2006               8.94              9.00
15/08/2024      23/08/2006               7.82              7.90
15/05/2015      22/08/2006               8.98              9.04
15/08/2024      22/08/2006               7.79              7.87
15/05/2015      21/08/2006               9.00              9.06
15/08/2024      21/08/2006               7.79              7.87
...                                       ...               ...
15/05/2015      26/08/2009               6.44              6.50
15/08/2024      26/08/2009               6.31              6.39
15/05/2015      25/08/2009               6.44              6.50
15/08/2024      25/08/2009               6.32              6.40
15/05/2015      17/11/2009               6.88              6.94
15/08/2024      17/11/2009               6.69              6.77
                16/11/2009               6.69              6.77
15/05/2015      16/11/2009               6.91              6.97
                13/11/2009               6.91              6.97
15/08/2024      13/11/2009               6.71              6.79

                            PU Compra Manha  PU Venda Manha  PU Base Manha  \
Data Vencimento Data Base
15/05/2015      30/08/2006           755.66          752.06         751.75
15/08/2024      30/08/2006           410.47          405.07         404.92
15/05/2015      29/08/2006           755.95          752.35         752.04
15/08/2024      29/08/2006           412.37          406.94         406.79
15/05/2015      23/08/2006           759.65          756.02         755.69
15/08/2024      23/08/2006           415.25          409.78         409.61
15/05/2015      22/08/2006           756.90          753.29         752.96
15/08/2024      22/08/2006           417.17          411.66         411.50
15/05/2015      21/08/2006           755.37          751.76         751.43
15/08/2024      21/08/2006           417.00          411.50         411.33
...                                     ...             ...            ...
15/05/2015      26/08/2009          1291.76         1287.62        1287.21
15/08/2024      26/08/2009           740.19          731.93         731.71
15/05/2015      25/08/2009          1291.49         1287.35        1286.93
15/08/2024      25/08/2009           739.00          730.76         730.52
15/05/2015      17/11/2009          1288.56         1284.60        1284.12
15/08/2024      17/11/2009           716.46          708.62         708.36
                16/11/2009           716.20          708.36         708.10
15/05/2015      16/11/2009          1286.10         1282.15        1281.67
                13/11/2009          1285.62         1281.67        1280.92
15/08/2024      13/11/2009           713.97          706.15         705.74

                           Data_Vencimento  Data_Base  Tipo  \
Data Vencimento Data Base
15/05/2015      30/08/2006      2015-05-15 2006-08-30  IPCA
15/08/2024      30/08/2006      2024-08-15 2006-08-30  IPCA
15/05/2015      29/08/2006      2015-05-15 2006-08-29  IPCA
15/08/2024      29/08/2006      2024-08-15 2006-08-29  IPCA
15/05/2015      23/08/2006      2015-05-15 2006-08-23  IPCA
15/08/2024      23/08/2006      2024-08-15 2006-08-23  IPCA
15/05/2015      22/08/2006      2015-05-15 2006-08-22  IPCA
15/08/2024      22/08/2006      2024-08-15 2006-08-22  IPCA
15/05/2015      21/08/2006      2015-05-15 2006-08-21  IPCA
15/08/2024      21/08/2006      2024-08-15 2006-08-21  IPCA
...                                    ...        ...   ...
15/05/2015      26/08/2009      2015-05-15 2009-08-26  IPCA
15/08/2024      26/08/2009      2024-08-15 2009-08-26  IPCA
15/05/2015      25/08/2009      2015-05-15 2009-08-25  IPCA
15/08/2024      25/08/2009      2024-08-15 2009-08-25  IPCA
15/05/2015      17/11/2009      2015-05-15 2009-11-17  IPCA
15/08/2024      17/11/2009      2024-08-15 2009-11-17  IPCA
                16/11/2009      2024-08-15 2009-11-16  IPCA
15/05/2015      16/11/2009      2015-05-15 2009-11-16  IPCA
                13/11/2009      2015-05-15 2009-11-13  IPCA
15/08/2024      13/11/2009      2024-08-15 2009-11-13  IPCA

                                            dt_update
Data Vencimento Data Base
15/05/2015      30/08/2006 2025-05-22 13:07:29.932981
15/08/2024      30/08/2006 2025-05-22 13:07:29.935374
15/05/2015      29/08/2006 2025-05-22 13:07:29.935914
15/08/2024      29/08/2006 2025-05-22 13:07:29.936453
15/05/2015      23/08/2006 2025-05-22 13:07:29.937031
15/08/2024      23/08/2006 2025-05-22 13:07:29.937612
15/05/2015      22/08/2006 2025-05-22 13:07:29.938234
15/08/2024      22/08/2006 2025-05-22 13:07:29.938858
15/05/2015      21/08/2006 2025-05-22 13:07:29.939501
15/08/2024      21/08/2006 2025-05-22 13:07:29.940156
...                                               ...
15/05/2015      26/08/2009 2025-05-22 13:07:36.364764
15/08/2024      26/08/2009 2025-05-22 13:07:36.365221
15/05/2015      25/08/2009 2025-05-22 13:07:36.365673
15/08/2024      25/08/2009 2025-05-22 13:07:36.366205
15/05/2015      17/11/2009 2025-05-22 13:07:36.366801
15/08/2024      17/11/2009 2025-05-22 13:07:36.367334
                16/11/2009 2025-05-22 13:07:36.367849
15/05/2015      16/11/2009 2025-05-22 13:07:36.368350
                13/11/2009 2025-05-22 13:07:36.368840
15/08/2024      13/11/2009 2025-05-22 13:07:36.369304

[16696 rows x 9 columns]

In [13]:
#frames = [prefixado, ipca]
#todos = pd.concat(frames)
ipca = ipca.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})
prefixado = prefixado.rename(columns={"Data Vencimento": "DataVencimento", "Data Base": "Data_Base", "Taxa Compra Manha": "CompraManha", "Taxa Venda Manha": "VendaManha", "PU Compra Manha": "PUCompraManha", "PU Venda Manha": "PUVendaManha",  "PU Base Manha": "PUBaseManha"})

In [14]:
ipca

                            CompraManha  VendaManha  PUCompraManha  \
Data Vencimento Data Base
15/05/2015      30/08/2006         9.03        9.09         755.66
15/08/2024      30/08/2006         7.90        7.98         410.47
15/05/2015      29/08/2006         9.02        9.08         755.95
15/08/2024      29/08/2006         7.87        7.95         412.37
15/05/2015      23/08/2006         8.94        9.00         759.65
15/08/2024      23/08/2006         7.82        7.90         415.25
15/05/2015      22/08/2006         8.98        9.04         756.90
15/08/2024      22/08/2006         7.79        7.87         417.17
15/05/2015      21/08/2006         9.00        9.06         755.37
15/08/2024      21/08/2006         7.79        7.87         417.00
...                                 ...         ...            ...
15/05/2015      26/08/2009         6.44        6.50        1291.76
15/08/2024      26/08/2009         6.31        6.39         740.19
15/05/2015      25/08/2009         6.44        6.50        1291.49
15/08/2024      25/08/2009         6.32        6.40         739.00
15/05/2015      17/11/2009         6.88        6.94        1288.56
15/08/2024      17/11/2009         6.69        6.77         716.46
                16/11/2009         6.69        6.77         716.20
15/05/2015      16/11/2009         6.91        6.97        1286.10
                13/11/2009         6.91        6.97        1285.62
15/08/2024      13/11/2009         6.71        6.79         713.97

                            PUVendaManha  PUBaseManha Data_Vencimento  \
Data Vencimento Data Base
15/05/2015      30/08/2006        752.06       751.75      2015-05-15
15/08/2024      30/08/2006        405.07       404.92      2024-08-15
15/05/2015      29/08/2006        752.35       752.04      2015-05-15
15/08/2024      29/08/2006        406.94       406.79      2024-08-15
15/05/2015      23/08/2006        756.02       755.69      2015-05-15
15/08/2024      23/08/2006        409.78       409.61      2024-08-15
15/05/2015      22/08/2006        753.29       752.96      2015-05-15
15/08/2024      22/08/2006        411.66       411.50      2024-08-15
15/05/2015      21/08/2006        751.76       751.43      2015-05-15
15/08/2024      21/08/2006        411.50       411.33      2024-08-15
...                                  ...          ...             ...
15/05/2015      26/08/2009       1287.62      1287.21      2015-05-15
15/08/2024      26/08/2009        731.93       731.71      2024-08-15
15/05/2015      25/08/2009       1287.35      1286.93      2015-05-15
15/08/2024      25/08/2009        730.76       730.52      2024-08-15
15/05/2015      17/11/2009       1284.60      1284.12      2015-05-15
15/08/2024      17/11/2009        708.62       708.36      2024-08-15
                16/11/2009        708.36       708.10      2024-08-15
15/05/2015      16/11/2009       1282.15      1281.67      2015-05-15
                13/11/2009       1281.67      1280.92      2015-05-15
15/08/2024      13/11/2009        706.15       705.74      2024-08-15

                            Data_Base  Tipo                  dt_update
Data Vencimento Data Base
15/05/2015      30/08/2006 2006-08-30  IPCA 2025-05-22 13:07:29.932981
15/08/2024      30/08/2006 2006-08-30  IPCA 2025-05-22 13:07:29.935374
15/05/2015      29/08/2006 2006-08-29  IPCA 2025-05-22 13:07:29.935914
15/08/2024      29/08/2006 2006-08-29  IPCA 2025-05-22 13:07:29.936453
15/05/2015      23/08/2006 2006-08-23  IPCA 2025-05-22 13:07:29.937031
15/08/2024      23/08/2006 2006-08-23  IPCA 2025-05-22 13:07:29.937612
15/05/2015      22/08/2006 2006-08-22  IPCA 2025-05-22 13:07:29.938234
15/08/2024      22/08/2006 2006-08-22  IPCA 2025-05-22 13:07:29.938858
15/05/2015      21/08/2006 2006-08-21  IPCA 2025-05-22 13:07:29.939501
15/08/2024      21/08/2006 2006-08-21  IPCA 2025-05-22 13:07:29.940156
...                               ...   ...                        ...
15/05/2015      26/08/2009 2009-08-26  IPCA 2025-05-22 13:07:36.364764
15/08/2024      26/08/2009 2009-08-26  IPCA 2025-05-22 13:07:36.365221
15/05/2015      25/08/2009 2009-08-25  IPCA 2025-05-22 13:07:36.365673
15/08/2024      25/08/2009 2009-08-25  IPCA 2025-05-22 13:07:36.366205
15/05/2015      17/11/2009 2009-11-17  IPCA 2025-05-22 13:07:36.366801
15/08/2024      17/11/2009 2009-11-17  IPCA 2025-05-22 13:07:36.367334
                16/11/2009 2009-11-16  IPCA 2025-05-22 13:07:36.367849
15/05/2015      16/11/2009 2009-11-16  IPCA 2025-05-22 13:07:36.368350
                13/11/2009 2009-11-13  IPCA 2025-05-22 13:07:36.368840
15/08/2024      13/11/2009 2009-11-13  IPCA 2025-05-22 13:07:36.369304

[16696 rows x 9 columns]

Saves in the database

In [15]:
connection_string = f"postgresql://{POSTGRES_USER}:{POSTGRES_PASSWORD}@{POSTGRES_HOST}:{POSTGRES_PORT}/{POSTGRES_DB}"

In [16]:
engine = create_engine(connection_string)

In [17]:
ipca.to_sql("postg_ipca", con=engine, if_exists="replace", index=False, schema="public")
prefixado.to_sql("postg_pre", con=engine, if_exists="replace", index=False, schema="public")

300

In [18]:
query = "SELECT * FROM public.postg_pre"
df = pd.read_sql(query, con=engine)

# check pre
df.head()

,CompraManha,VendaManha,PUCompraManha,PUVendaManha,PUBaseManha,Data_Vencimento,Data_Base,Tipo,dt_update
0,14.22,14.26,897.01,896.75,896.28,2007-07-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.634472
1,14.22,14.26,926.83,926.65,926.16,2007-04-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.637382
2,14.48,14.54,730.18,729.29,728.89,2009-01-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.637949
3,14.42,14.45,988.83,988.81,988.28,2006-10-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.638519
4,14.26,14.29,957.54,957.46,956.96,2007-01-01,2006-08-30,PRE-FIXADOS,2025-05-22 13:07:19.639170

In [19]:
query = "SELECT * FROM public.postg_ipca"
df = pd.read_sql(query, con=engine)

# check ipca
df.head()

,CompraManha,VendaManha,PUCompraManha,PUVendaManha,PUBaseManha,Data_Vencimento,Data_Base,Tipo,dt_update
0,9.03,9.09,755.66,752.06,751.75,2015-05-15,2006-08-30,IPCA,2025-05-22 13:07:29.932981
1,7.90,7.98,410.47,405.07,404.92,2024-08-15,2006-08-30,IPCA,2025-05-22 13:07:29.935374
2,9.02,9.08,755.95,752.35,752.04,2015-05-15,2006-08-29,IPCA,2025-05-22 13:07:29.935914
3,7.87,7.95,412.37,406.94,406.79,2024-08-15,2006-08-29,IPCA,2025-05-22 13:07:29.936453
4,8.94,9.00,759.65,756.02,755.69,2015-05-15,2006-08-23,IPCA,2025-05-22 13:07:29.937031